{% extends 'base.html.twig' %}
{% block body %}

    {% if stats %}
        <table border="1" cellspacing="0" cellpadding="10">
            <thead>
            <tr>
                <th>trip</th>
                <th>distance</th>
                <th>measure interval</th>
                <th>avg speed</th>
            </tr>
            </thead>
            <tbody>
                {%  for trip in stats %}
                    <tr>
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.distance }}</td>
                        <td>{{ trip.measure_interval }}</td>
                        <td>{{ trip.avg_speed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak danych</p>
    {%  endif %}

{% endblock %}